@import "tailwindcss";

/* TT Travels Font Faces */
/* public/Font/TTTravels-Regular.ttf */
@font-face {
  font-family: "TTTravels";
  src: url("/Font/TTTravels-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTTravels";
  src: url("/Font/TTTravels-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TTTravels";
  src: url("/Font/TTTravels-BoldItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

.bg-double {
  background-image: url("/Cast Details/Background.png"),
    url("/Cast Details/Star.png");
  background-position: center top, center bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}

.bg-double2 {
  background-image: url("/Star.png"), url("/Spiral.png");
  background-position: center, right top; /* 1st img center cover, 2nd img top-right */
  background-repeat: no-repeat, no-repeat;
  background-size: contain, auto; /* 1st img cover whole area, 2nd img keep original size */
}

body {
  font-family: "TTTravels", sans-serif;
}
